.DiceStructure{
display: flex;
justify-content: center;
}


.Dice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  color:rgb(16, 11, 87);
  font-weight: bolder;
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 16px;
  outline-style: solid;
  outline-color: rgb(0, 1, 66);
  box-shadow: 10px 10px 10px rgb(172, 171, 171);
  transition: .3s;
  &&:hover{
    box-shadow: 10px 10px 10px rgb(107, 107, 107);
    transition: .3s;
    width: 105px;
    height: 105px;
  }
}

.EnemyDice{
  color: red;
}
