.DiceStructure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.Die {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  color: rgb(16, 11, 87);
  font-weight: bolder;
  background-color: #fff; /* Consistente con el fondo de los puntajes */
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 16px;
  outline: 2px solid rgb(0, 1, 66);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistente con la sombra de los puntajes */
  transition: all 0.3s ease;
}

.Die:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Consistente con el hover de los puntajes */
  transform: scale(1.05);
  background-color: #f0f0f0; /* Consistente con el hover de los puntajes */
}

.EnemyDice {
  color: red;
}

.dieNumber {
  transition: .3s;
  font-size: 24px;
  font-weight: normal;
}
