.RollButton {
    margin-bottom: 100px;
    background-color: #fff; /* Consistente con el fondo de los puntajes y dados */
    width: 250px;
    height: 35px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(16, 11, 87); /* Consistente con el color de los dados */
    border: 0;
    outline: 2px solid rgb(0, 1, 66); /* Consistente con el borde de los dados */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistente con la sombra de los puntajes y dados */
    transition: all 0.3s ease;
}

.RollButton:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Consistente con el hover de los puntajes y dados */
    transform: scale(1.05); /* Efecto de escala suave */
    background-color: #f0f0f0; /* Consistente con el hover de los puntajes y dados */
}