.ScoreContainer::-webkit-scrollbar{
    width: 20px;
}
.ScoreContainer::-webkit-scrollbar-thumb{
    background-color: #c2bef3;
    border-radius: 30px;
}
.ScoreContainer::-webkit-scrollbar-corner{
    display: none;
}
.ScoreContainer::-webkit-scrollbar-track{
    /* border-radius: 30px; */
    display: none;
}
.ScoreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: 540px;
    background-color: #d3d0ff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limita el tamaño horizontal */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    overflow: scroll;     
}


ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

li {
    margin: 10px 0;
    padding: 10px;
    padding-top: 30px;
    background-color: #fff;
    border-radius: 30px;
    outline-style: solid;
    outline-color: #c2bef3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.5s;
}

li:hover {
    transition: transform 0.5s;
    transform: scale(1.05); /* Escala el elemento un 5% más */
    background-color: #f5f5f5;
}